[submodule "submodules/dcscn_super_resolution"]
	path = submodules/dcscn_super_resolution
	url = https://github.com/louisquinn/dcscn_super_resolution.git
[submodule "submodules/cnn_registration"]
	path = submodules/cnn_registration
	url = https://github.com/louisquinn/cnn_registration.git
[submodule "submodules/probav"]
	path = submodules/probav
	url = https://github.com/lfsimoes/probav.git
